@if(dataSource.data.length === 0){
<main>
    <mat-spinner></mat-spinner>
    <p>Cargando inventario...</p>
</main>
}@else {
<main>
    <button mat-flat-button color="primary" (click)="redirectToInventoryForm()">Añadir inventario</button>
    <section>
        <h2>Inventories</h2>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Products Column -->
            <ng-container matColumnDef="products">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Productos</th>
                <td mat-cell *matCellDef="let element">{{ element.products }}</td>
            </ng-container>

            <!-- Categories Column -->
            <ng-container matColumnDef="categories">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Categorías</th>
                <td mat-cell *matCellDef="let element">{{ element.categories }}</td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="accent" (click)="details(element.id)">Detalles</button>
                    <button mat-button color="primary" (click)="productInv(element.id)">Añadir producto</button>
                    <button mat-button color="primary" (click)="categoryInv(element.id)">Añadir categoría</button>
                    <button mat-button color="warn" (click)="categoryList(element.id)">Ver categorías</button>
                </td>
            </ng-container>

            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
</main>
}