<main>
    <div class="category-container">
        <h1>Añadir categoría</h1>
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label for="name">Nombre de la categoría</mat-label>
                <input matInput id="name" formControlName="name">
            </mat-form-field>
            @if(submitted && categoryForm.get('name')!.invalid) {
            @if(categoryForm.get('name')!.hasError('required')) {
            <p class="error">El nombre es obligatorio</p>
            }
            @else if(categoryForm.get('name')!.hasError('minlength')) {
            <p class="error">El nombre debe tener al menos 2 caracteres</p>
            }
            @else if(categoryForm.get('name')!.hasError('maxlength')) {
            <p class="error">El nombre no puede tener más de 50 caracteres</p>
            }
            }
            <div class="submit-container">
                <button mat-flat-button type="submit">Añadir categoría</button>
            </div>
        </form>
    </div>

</main>