<nav>
  <img src="/logo.svg" alt="logo" />
  <ul>
    <li>
      <a routerLink="/">
        <div>
          <img src="/home.svg" alt="home" />
          <span>Home</span>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/">
        <div>
          <img src="/about-us.svg" alt="home" />
          <span>About us</span>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/contact">
        <div>
          <img src="/contact-us.svg" alt="home" />
          <span>Contact us</span>
        </div>
      </a>
    </li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a routerLink="/inventory" routerLinkActive="active" ariaCurrentWhenActive="page">Ivneotry</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>