<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div>
            <label for="email">Correo electrónico:</label>
            <input type="text" id="email" formControlName="email" (input)="clearError()" name="email" required>
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" formControlName="password" (input)="clearError()" name="password"
                required>
        </div>
        <button type="submit">Ingresar</button>
        @if(submitted && loginForm.invalid) {
            @if(loginForm.get('email')!.hasError('required') && (loginForm.get('email')!.touched || loginForm.get('email')!.dirty)) {
                <div class="error">El correo electrónico es requerido</div>
            }
            @if(loginForm.get('email')!.hasError('email') && (loginForm.get('email')!.touched || loginForm.get('email')!.dirty)) {
                <div class="error">Debes introducir un correo electrónico válido</div>
            }
            @if(loginForm.get('password')!.hasError('required') && (loginForm.get('password')!.touched || loginForm.get('password')!.dirty)) {
                <div class="error">Debes introducir una contraseña</div>
            }
            @if((loginForm.get('password')!.hasError('minlength') || loginForm.get('password')!.hasError('maxlength')) && (loginForm.get('password')!.touched || loginForm.get('password')!.dirty)) {
                <div class="error">La contraseña debe tener entre 6 y 20 caracteres</div>
            }
        }
    </form>
</div>