<main>
    @if(invitationState.state().state === 'success'){
    <section>
        <div class="invitation-container">
            <h1>Invitaciones</h1>
            @for (invitation of invitationState.state().invitations; track invitation.id) {
            <mat-card appearance="outlined">
                <mat-card-content class="invitation-content">
                    <p>{{invitation.fromUser.email}}</p>
                    <p>{{invitation.role}}</p>
                    <div>
                        <button mat-stroked-button color (click)="acceptInvitation(invitation.id)">
                            Accept
                        </button>
                        <button mat-flat-button (click)="declineInvitation(invitation.id)">
                            Decline
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
            }
            @if(invitationState.state().invitations.length === 0) {
            <p>No hay invitaciones pendientes.</p>
            }
        </div>

    </section>
    } @else if (invitationState.state().state === 'loading') {
    <section>
        <mat-spinner></mat-spinner>
    </section>
    } @else if (invitationState.state().state === 'error') {
    <section>
        <p>No se han encontrado invitaciones o hubo un error al cargar.</p>
    </section>
    }
</main>