<main>
    <div class="invitation-container">
        <h1>Enviar invitación</h1>
        <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()" class="invitation-form">
            <mat-form-field>
                <mat-label for="to">Enviar a: </mat-label>
                <input matInput id="to" formControlName="to" required>
            </mat-form-field>
            @if(submitted && invitationForm.get('to')!.invalid) {
            @if(invitationForm.get('to')!.hasError('required')) {
            <p class="error">El to es obligatorio</p>
            }
            @else if(invitationForm.get('to')!.hasError('email')) {
            <p class="error">El to debe tener formato to</p>
            }
            }

            <mat-form-field>
                <mat-label for="role">Rol</mat-label>
                <mat-select id="role" formControlName="role">
                    <mat-option value="MODERATOR">Moderador</mat-option>
                    <mat-option value="USER">Usuario</mat-option>
                </mat-select>
            </mat-form-field>
            @if(submitted && invitationForm.get('role')!.invalid) {
            @if(invitationForm.get('role')!.hasError('required')) {
            <p class="error">El rol es obligatorio</p>
            }
            }
            <div class="submit-container">
                <button mat-flat-button type="submit">Enviar invitación</button>
            </div>
        </form>
    </div>
</main>