<main>
    @if(categoryState.state().state === 'success'){
    <section>
        <h2>Productos</h2>
        @for (category of categoryState.state().categories; track category.id) {
        <div class="category-card">
            <h3>{{ category.name }}</h3>
        </div>
        }
    </section>
    } @else if (categoryState.state().state === 'loading') {
    <section>
        <p>Cargando productos...</p>
    </section>
    } @else if (categoryState.state().state === 'error') {
    <section>
        <p>No se han encontrado productos o hubo un error al cargar.</p>
    </section>
    }
</main>