<main class="register-container">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username" (input)="clearSubmitted()" name="username"
                required>
            <!-- <div *ngIf="submitted && registerForm.invalid">
                <div *ngIf="registerForm.get('username')!.hasError('required') && (registerForm.get('username')!.touched || registerForm.get('username')!.dirty)">
                    <p class="error">Username is required</p>
                </div>
            </div> -->
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" (input)="clearSubmitted()" name="email" required>
            <!-- <div *ngIf="submitted && registerForm.invalid"></div>
                <div *ngIf="registerForm.get('email')!.hasError('required') && (registerForm.get('email')!.touched || registerForm.get('email')!.dirty)"></div>
                    <p class="error">Email is required</p>
                </div>
                <div *ngIf="registerForm.get('email')!.hasError('email') && (registerForm.get('email')!.touched || registerForm.get('email')!.dirty)">
                    <p class="error">Please enter a valid email</p>
                </div>
            </div> -->
        </div>
        <div formGroupName="passwordGroup">
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="password" (input)="clearSubmitted()"
                    name="password" required>
                <!-- <div *ngIf="submitted && registerForm.invalid">
                    <div *ngIf="registerForm.get('password')!.hasError('required') && (registerForm.get('password')!.touched || registerForm.get('password')!.dirty)">
                        <p class="error">Password is required</p>
                    </div>
                    <div *ngIf="(registerForm.get('password')!.hasError('minlength') || registerForm.get('password')!.hasError('maxlength')) && (registerForm.get('password')!.touched || registerForm.get('password')!.dirty)">
                        <p class="error">Password must be between 6 and 20 characters</p>
                    </div>
                </div> -->
                @if(submitted && registerForm.invalid)
                {
       
                    @if(registerForm.get('passwordGroup')!.hasError('passwordMatch')){
                        <p class="error">Password must contain at least one letter and one number</p>
                    }
                }
            </div>
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" (input)="clearSubmitted()"
                    name="confirmPassword" required>
                <!-- <div *ngIf="submitted && registerForm.invalid">
                    <div *ngIf="registerForm.get('confirmPassword')!.hasError('required') && (registerForm.get('confirmPassword')!.touched || registerForm.get('confirmPassword')!.dirty)">
                        <p class="error">Confirm Password is required</p>
                    </div>
                    <div *ngIf="registerForm.get('confirmPassword')!.hasError('mismatch') && (registerForm.get('confirmPassword')!.touched || registerForm.get('confirmPassword')!.dirty)">
                        <p class="error">Passwords must match</p>
                    </div>
                </div> -->
            </div>
        </div>

        <button type="submit">Register</button>
        <!-- <div *ngIf="submitted && error">
            <p class="error">{{error}}</p>
        </div> -->
    </form>
</main>